body {
    margin: 0;
    background: #FFF;
    color: #000;
    font-family: "Comic Sans MS";
    font-size: 14px;
    Width: 100%;
}

#header {
    background: #ffffff;
    width: 99.7%;
    height: 40px;
    border-bottom: 1px solid rgb(173, 173, 173);
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

#container {
    background: #b3b3b3;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 700px;
    height: 400px;
    margin: 0 auto  ;
    
}

#navigation {
  
    display: flex;
    justify-content: space-around;
    background: linear-gradient(0deg,
    #cfcfcf 0%, #b3b3b3 100%);
    width: 100%;
    height: 247px;
    margin: 0;
    padding: 0;
    margin-top:0px;
}

#sidebar {
    background: #ffffff;
    float: left;
    width: 20%;
    height: 350px;
    border-left: 1px solid #dfdfdf;
}

#content {
    background: #bef7ff;
    float: right;
    width: 79.85%;
    height:350px;
    

}

#clear {
    clear: both;
}

#footer {
  position: relative;
  display: flex;
  flex-direction: row;
  Justify-content: space-around;
  background: linear-gradient(0deg, rgb(168, 168, 168) 0%, rgb(219, 219, 219) 100%);
   width: 100%;
   height: 110px;
   margin-top: -11px;
}
h2 {
    margin: 0;
    padding: 0;
}
#name_logo {height: 40px; }
#header_1 {float: left}
#sales {margin: 0; float:left; padding: 10px; font-family: "Comic Sans MS";}

.two  {
    list-style: none; 
    margin: 0 auto;
    background: #838383;
    overflow: hidden;
    padding: 0;
    float: left;
    
    
  }

  .two a {
    font-family: "Comic Sans MS";
    text-decoration: none;
    display: block;
    padding: 10.6px;
    /*border-right: 1px solid #ADC0CE;*/
    background: rgb(255, 255, 255);
    color: #3d3d3d;
    
  }
  .two a:hover {background: #dfdfdf;
  }

  .two:hover .dropdown-content {display: block;}

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    display: block;
}
  
  

.d1 input {
  width: 100%;
  height: 20px;
  margin-top: 8.5px;
  padding-left: 10px;
  border: 1px solid #8d8d8d;
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  color: #313131;
  font-family: "Comic Sans MS";
}

.d1 input::placeholder {
  color: #bdbdbd;
}

#form_search {
    position: relative;
    width: 160px;
    margin-left:  15px;
    float: left;
    left:20px;
  }
.d1 button {
  position: absolute; 
  margin-top: 8.5px;
  top: 0;
  right: -15px;
  width: 50px;
  height: 24px;
  border: none;
  background: #949494;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-family: "Comic Sans MS";
}
.d1 button:before {
  font-family: "Comic Sans MS";
  font-size: 12px;
  color: #ffffff;
}
.d1 p {
  color: #ffffff;
  margin-top: 2px;
}
.login {
  height: 30px;
  /*margin-top: 5px;
  margin-left: 75px;*/
 
 }
 .cart {
  height: 30px;
  /*margin-top: 5px;
  margin-left: 20px;*/
 
 }
 
 .header_2 {
  position: relative;
  overflow: hidden;
  width:30px;
  left: 80px;
  padding: 5px;
  padding-bottom: 2px;
 }
 .header_3 {
  position: relative;
  overflow: hidden;
  width:30px;
  right:0px;
  padding: 5px;
  padding-bottom: 2px;
  padding-right: 7px;
  float: right;
 }
.header_2:hover, .header_3:hover {background: #dfdfdf; overflow: hidden;}
/*.header_2 img:hover {background: #dfdfdf}*/

#slider_center {
  height: 215px; 
  margin-top: 12px;
  }

#side {width: 100%; border-collapse: collapse;}
#side img {width: 25px; margin-top: 4px; margin-left: 3px}
#side tr {border-bottom: 1px solid #dfdfdf;}
#side td {text-align: center; height: 30px}
#side p {font-family: "Comic Sans MS"; text-align: center; margin: 8px}
#side tr:hover {background: #bef7ff;}
#side tr:nth-child(1) {background: #bef7ff; }
#side a {text-decoration: none; color: black;}
#content_inner {
  display: flex;
  
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  width: 96.5%;
  height: 95%;
  margin-left: 9px;
  margin-top: 7px;
  background: #ffffff;
}
.products {
  display: flex;
  width: 30%;
  height: 40%;
  border: 1px solid #dfdfdf;
  
}

#content_inner table {
  border-collapse: collapse;
  border-style: hidden;
  width:100%;
  height: 100%;
}
#content_inner table td {
  border: 1px solid rgb(207, 207, 207);
  width:33.33%;
}
#content_inner table tr {
  width:100%;
  height: 50%;
}
#content_inner img {width: 120px; vertical-align: top;}
#content_inner p {margin: 3px; margin-bottom: 0px;}
#content_inner a {text-decoration: none; color: black;}
#content_inner .text {font-size: 12px;}
#content_inner div {padding-bottom: 2px;}
#content_inner div:hover {background: #dfdfdf;border-radius: 3px;}

#about {
  width:220px;
  
}
#about p{
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
  padding-left: -10px;
  color: #123b1c;
}
#phone {
  color: #123b1c;
  font-size: 20px;
}
#phone p {margin-bottom: 0px}
#phone_help {font-size: 15px; padding-top: -10px;}




.slide {
  width: 660px;
  height: 215px;
  
  position: relative;
  text-align: center;
  margin-top: 13px;
}
.slide  input {
  display: none;
}

.slide  input + label {
  display: inline-block;
  opacity: 0;
  width: 210px;
  height: 210px;
  border-radius: 8px;
  background: rgba(90, 90, 90, 0.8);
  border: 2px solid rgba(190, 190, 190, 0.8);
  
  cursor: pointer;

  z-index: 1;
  position: relative;

  
  top: 0%;

  transition: background 0.8s ease-out 0s;
}
#slider2_2 + label {
  height: 20px;
}

.slide  input + label:hover {
  background: rgba(250, 250, 250, 0.8);
}

.slide  input:checked + label {
  background: rgba(220, 220, 220, 0.8);
}

.slide  div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  
}

.slide  div {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slide img {
  width:660px;
height:215px;
}

#slider2_1 + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slide  input:hover + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}



