<html>
<head>
    <style type="text/css">
    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        border: 2px solid rgb(118, 118, 118);
    }

    .nav_button {
        background: rgb(239, 239, 239);
        width: 20%;
        height: 100%;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        border: 1px rgb(118, 118, 118) solid;
    }
    .nav_panel {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav_button:hover {
        background: #8FD4C1;

    }
    .nav_label {
        font-size: 40px;
        margin: 40px;

    }

    html {
        height: 100%;
        padding: 20px;
    }
    * {
        box-sizing: border-box;
    }

  </style>
</head>
<body>
<div class="nav_label">Выберите справочник</div>
<div class="nav_panel">
    <a class="nav_button" href="persons">Физ. лица</a>
    <a class="nav_button" href="houses">Дома</a>
    <a class="nav_button" href="aparts">Квартиры</a>
</div>
</body>
</html>